# Project exclude paths
/venv/
/cn_dicts_dazhu/
/cn_dicts_temp/
/cn_dicts_sancang/
/cn_dicts_xh_cangjie/
sancang.dict.yaml
.DS_Store

# IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Weasel编译的文件(实际读取的配置)
build/
sync/
# 生成的用户设置(中英文状态, 简繁体状态, emoji开关状态等)
/user.yaml
# 自动生成的Weasel版本信息等(没啥用)
/installation.yaml

# 用户词库(自动调频, 生成的文件)
*.userdb/

# 用户自定义配置
*.custom.yaml
*.custom.*
program/generate_dict_code/jdh.dict.yaml

# 压缩包
*.zip
